


<link href="@Url.Content("~/Content/css/animate.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/bootstrap.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/style.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/custom.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/export.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/font-awesome.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/graph.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/jqcandlestick.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/monthly.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/owl.carousel.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/SidebarNav.min.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/fonts/fontawesome-webfont.eot" )" />
<link href="@Url.Content("~/Content/fonts/glyphicons-halflings-regular.woff2" )" />
<link href="@Url.Content("~/Content/fonts/fontawesome-webfont.ttf" )" />
<link href="@Url.Content("~/Content/fonts/fontawesome-webfont.woff" )" />
<link href="@Url.Content("~/Content/fonts/fontawesome-webfont.woff2" )" />
<link href="@Url.Content("~/Content/fonts/FontAwesome.otf" )" />
<link href="@Url.Content("~/Content/fonts/glyphicons-halflings-regular.eot" )" />
<link href="@Url.Content("~/Content/fonts/glyphicons-halflings-regular.ttf" )" />
<link href="@Url.Content("~/Content/fonts/glyphicons-halflings-regular.woff" )" />
<script src="@Url.Content("~/Content/js/amcharts.js" )"></script>
<script src="@Url.Content("~/Content/js/bootstrap.js" )"></script>
<script src="@Url.Content("~/Content/js/Chart.bundle.js" )"></script>
<script src="@Url.Content("~/Content/js/Chart.js" )"></script>
<script src="@Url.Content("~/Content/js/Chart.min.js" )"></script>
<script src="@Url.Content("~/Content/js/chartinator.js" )"></script>
<script src="@Url.Content("~/Content/js/classie.js" )"></script>
<script src="@Url.Content("~/Content/js/custom.js" )"></script>
<script src="@Url.Content("~/Content/js/export.min.js" )"></script>
<script src="@Url.Content("~/Content/js/index.js" )"></script>
<script src="@Url.Content("~/Content/js/index1.js" )"></script>
<script src="@Url.Content("~/Content/js/index2.js" )"></script>
<script src="@Url.Content("~/Content/js/jquery-1.11.1.min.js" )"></script>
<script src="@Url.Content("~/Content/js/jquery.flot.js" )"></script>
<script src="@Url.Content("~/Content/js/jquery.jqcandlestick.min.js" )"></script>
<script src="@Url.Content("~/Content/js/jquery.nicescroll.js" )"></script>
<script src="@Url.Content("~/Content/js/light.js" )"></script>
<script src="@Url.Content("~/Content/js/metisMenu.min.js" )"></script>
<script src="@Url.Content("~/Content/js/modernizr.custom.js" )"></script>
<script src="@Url.Content("~/Content/js/monthly.js" )"></script>
<script src="@Url.Content("~/Content/js/owl.carousel.js" )"></script>
<script src="@Url.Content("~/Content/js/pie-chart.js" )"></script>
<script src="@Url.Content("~/Content/js/scripts.js" )"></script>
<script src="@Url.Content("~/Content/js/serial.js" )"></script>
<script src="@Url.Content("~/Content/js/SidebarNav.min.js" )"></script>
<script src="@Url.Content("~/Content/js/SimpleChart.js" )"></script>
<script src="@Url.Content("~/Content/js/utils.js" )"></script>
<script src="@Url.Content("~/Content/js/validator.min.js" )"></script>

<script>
    $('.sidebar-menu').SidebarNav()
</script>
<!-- //side nav js -->
<!-- Classie --><!-- for toggle left push menu script -->
<script>
    var menuLeft = document.getElementById('cbp-spmenu-s1'),
        showLeftPush = document.getElementById('showLeftPush'),
        body = document.body;

    showLeftPush.onclick = function () {
        classie.toggle(this, 'active');
        classie.toggle(body, 'cbp-spmenu-push-toright');
        classie.toggle(menuLeft, 'cbp-spmenu-open');
        disableOther('showLeftPush');
    };

    function disableOther(button) {
        if (button !== 'showLeftPush') {
            classie.toggle(showLeftPush, 'disabled');
        }
    }
</script>


<div class="main-content">
    <div class="main-page">


        @using WorldSportsA.Models

        @{
            ViewBag.Title = "Index";
            Layout = "~/Views/_admin.cshtml";
        }

        <div class="panel-body widget-shadow">

            <h2 class="title1">League Table</h2>

            <div class="tables">
                <table class="table table-hover">
                    <thead>
                        <tr class="success">
                            <th>Position</th>
                            <th>Team Name</th>
                            <th>Played</th>
                            <th>Win</th>
                            <th>Draw</th>
                            <th>Lost</th>
                            <th>GF</th>
                            <th>GA</th>
                            <th>GD</th>
                            <th>Points</th>
                        </tr>
                    </thead>

                    @if (ViewData["Results"] != null)
                    {
                        int count = 0;

                        foreach (LeagueTableResults res in (IEnumerable<LeagueTableResults>)ViewData["Results"])
                        {
                            count++;

                            <tbody>
                                <tr>
                                    <th scope="row">@count</th>

                                    <td><a href="/teams/view/@res.TeamId"></a>@res.TeamName</td>
                                    <td>@res.Played</td>
                                    <td>@res.Win</td>
                                    <td>@res.Draw</td>
                                    <td>@res.Lost</td>
                                    <td>@res.GF</td>
                                    <td>@res.GA</td>
                                    <td>@res.GD</td>
                                    <td>@res.Points</td>
                                </tr>
                            </tbody>
                        }
                    }
                </table>

            </div>
        </div>

    </div>
<div class="clearfix"> </div>
</div>

