
<link href="@Url.Content("~/Content/css/animate.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/bootstrap.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/style.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/custom.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/export.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/font-awesome.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/graph.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/jqcandlestick.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/monthly.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/owl.carousel.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/SidebarNav.min.css" )" rel="stylesheet" />
<link href="@Url.Content("~/Content/fonts/fontawesome-webfont.eot" )" />
<link href="@Url.Content("~/Content/fonts/glyphicons-halflings-regular.woff2" )" />
<link href="@Url.Content("~/Content/fonts/fontawesome-webfont.ttf" )" />
<link href="@Url.Content("~/Content/fonts/fontawesome-webfont.woff" )" />
<link href="@Url.Content("~/Content/fonts/fontawesome-webfont.woff2" )" />
<link href="@Url.Content("~/Content/fonts/FontAwesome.otf" )" />
<link href="@Url.Content("~/Content/fonts/glyphicons-halflings-regular.eot" )" />
<link href="@Url.Content("~/Content/fonts/glyphicons-halflings-regular.ttf" )" />
<link href="@Url.Content("~/Content/fonts/glyphicons-halflings-regular.woff" )" />
<script src="@Url.Content("~/Content/js/amcharts.js" )"></script>
<script src="@Url.Content("~/Content/js/bootstrap.js" )"></script>
<script src="@Url.Content("~/Content/js/Chart.bundle.js" )"></script>
<script src="@Url.Content("~/Content/js/Chart.js" )"></script>
<script src="@Url.Content("~/Content/js/Chart.min.js" )"></script>
<script src="@Url.Content("~/Content/js/chartinator.js" )"></script>
<script src="@Url.Content("~/Content/js/classie.js" )"></script>
<script src="@Url.Content("~/Content/js/custom.js" )"></script>
<script src="@Url.Content("~/Content/js/export.min.js" )"></script>
<script src="@Url.Content("~/Content/js/index.js" )"></script>
<script src="@Url.Content("~/Content/js/index1.js" )"></script>
<script src="@Url.Content("~/Content/js/index2.js" )"></script>
<script src="@Url.Content("~/Content/js/jquery-1.11.1.min.js" )"></script>
<script src="@Url.Content("~/Content/js/jquery.flot.js" )"></script>
<script src="@Url.Content("~/Content/js/jquery.jqcandlestick.min.js" )"></script>
<script src="@Url.Content("~/Content/js/jquery.nicescroll.js" )"></script>
<script src="@Url.Content("~/Content/js/light.js" )"></script>
<script src="@Url.Content("~/Content/js/metisMenu.min.js" )"></script>
<script src="@Url.Content("~/Content/js/modernizr.custom.js" )"></script>
<script src="@Url.Content("~/Content/js/monthly.js" )"></script>
<script src="@Url.Content("~/Content/js/owl.carousel.js" )"></script>
<script src="@Url.Content("~/Content/js/pie-chart.js" )"></script>
<script src="@Url.Content("~/Content/js/scripts.js" )"></script>
<script src="@Url.Content("~/Content/js/serial.js" )"></script>
<script src="@Url.Content("~/Content/js/SidebarNav.min.js" )"></script>
<script src="@Url.Content("~/Content/js/SimpleChart.js" )"></script>
<script src="@Url.Content("~/Content/js/utils.js" )"></script>
<script src="@Url.Content("~/Content/js/validator.min.js" )"></script>

<script>
    $('.sidebar-menu').SidebarNav()
</script>
<!-- //side nav js -->
<!-- Classie --><!-- for toggle left push menu script -->
<script>
    var menuLeft = document.getElementById('cbp-spmenu-s1'),
        showLeftPush = document.getElementById('showLeftPush'),
        body = document.body;

    showLeftPush.onclick = function () {
        classie.toggle(this, 'active');
        classie.toggle(body, 'cbp-spmenu-push-toright');
        classie.toggle(menuLeft, 'cbp-spmenu-open');
        disableOther('showLeftPush');
    };

    function disableOther(button) {
        if (button !== 'showLeftPush') {
            classie.toggle(showLeftPush, 'disabled');
        }
    }
</script>



<div class="main-content">
    <div class="main-page">


        @model WorldSportsA.Models.Team
        @using WorldSportsA.Models;
        @{
            ViewBag.Title = "View";
            Layout = "~/Views/_admin.cshtml";
        }

        <div class="panel-body widget-shadow">

            @if (ViewData["OpponentTeamName"] != null)
            {
                <h2><a href="/teams/view/@Model.Id">@Html.Raw(Model.Name + " </a> vs " + ViewData["OpponentTeamName"])</h2>
            }
            else
            {
                <h2 class="title1">@Model.Name</h2>
            }

            <hr/>

            <div class="col-xs-4">


                <h2 class="title1">Home Games</h2>
                @{
                    if (ViewData["HomeGames"] != null)
                    {
                        foreach (Report r in (IEnumerable<Report>)ViewData["HomeGames"])
                        {
                            <p><a href="/reports/view/@r.Id">@Model.Name.ToUpper() @r.Match.HomeTeamGoals - @r.Match.AwayTeamGoals @r.Match.Fixture.AwayTeamName</a> <br />(@r.Match.Fixture.TimeStamp)</p>
                        }
                    }
                    else
                    {
                        <p> There are no home match reports for @Model.Name </p>
                    }
                }
            </div>


            <div class="col-xs-4">
                <h2 class="title1">Away Games</h2>
                @{
                    if (ViewData["AwayGames"] != null)
                    {
                        foreach (Report r in (IEnumerable<Report>)ViewData["AwayGames"])
                        {
                            <p><a href="/reports/view/@r.Id">@r.Match.Fixture.HomeTeamName @r.Match.HomeTeamGoals - @r.Match.AwayTeamGoals @Model.Name.ToUpper() </a> <br />(@r.Match.Fixture.TimeStamp)</p>
                        }
                    }
                    else
                    {
                        <p> There are no away match reports for @Model.Name </p>
                    }
                }
            </div>

            <div class="col-xs-4">
                <h2 class="title1">Or Choose a Team</h2>
                @{
                    if (ViewData["AllTeams"] != null)
                    {
                        foreach (Team t in (IEnumerable<Team>)ViewData["AllTeams"])
                        {
                            <p><a href="/teams/view/@Model.Id?opponent=@t.Id">@t.Name</a></p>
                        }
                    }
                    else
                    {
                        <p>There are no teams</p>
                    }
                }
            </div>

        </div>
    </div>
    <div class="clearfix"> </div>
</div>